html {
  background-color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Darker Grotesque", Arial, sans-serif !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.get-to-carousel {
  margin: auto;
}

/*--------------- hero section --------------- */

.video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.8;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h2 {
  color: #d3ae87;
  text-align: center;
  font-size: 200px;
  opacity: 0.1;
  letter-spacing: 50px;
}

@media (max-width: 900px) {
  .header {
    left: 50%;
  }

  .header h1 {
    font-size: 34px !important;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .hamburguerMenuMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .hamburguerMenuMobile {
    display: block;
  }

  .images-carousel-services {
    display: none;
  }
}

/*--------------- navigation --------------- */

.nav {
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 20;
  background-color: unset;
  transition: ease-in-out 0.75s;
  display: block;
}

.nav-scroll-color {
  background-color: black;
}

.nav.scrolled {
  background-color: #161616 !important;
  transition: background-color 500ms linear;
}

.nav #brand {
  float: left;
  display: block;
  margin-left: 40px;
  line-height: 80px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nav #brand a {
  color: #fff;
  font-family: Poppins !important;
  transition: all 500ms ease-out;
  cursor: pointer;
}

.nav #brand a:hover {
  text-decoration: none;
}

.nav #menu {
  float: left;
  right: 40px;
  position: fixed;
}

.nav #menu li {
  padding-left: 40px;
  display: inline-block;
  font-weight: lighter !important;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 80px;
  position: relative;
  transition: all 500ms ease-out;
}

.nav #menu li a {
  font-family: Poppins !important;
  color: rgb(156, 156, 156);
  transition: all 500ms ease-out;
  cursor: pointer;
}

.nav #menu li a:hover {
  text-decoration: none;
  color: #fff;
  transition: all 500ms ease-out;
}

#toggle {
  position: absolute;
  right: 40px;
  top: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  width: 30px;
  height: 30px;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 30px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 2;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  text-transform: uppercase;
  min-height: 50px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 900px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 10px;
  }

  #resize ul li a {
    font-size: 15px;
    font-family: "Poppins" !important;
    font-weight: lighter !important;
    color: rgb(156, 156, 156) !important;
    transition: all 500ms ease-out;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 900px) {
  #resize {
    visibility: hidden !important;
  }
}

/*--------------- about section starts  --------------- */

.content {
  position: absolute;
  margin-top: 100vh;
  width: 100%;
}

section {
  padding: 140px 0;
}

.section-index {
  color: #d3ae87;
  font-weight: bolder;
  font-size: 20px;
  font-family: Poppins !important;
}

.section-heading {
  color: grey;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}

.section-subheading {
  color: grey;
  margin: 10px 0;
}

.section-info {
  font-size: 24px;
  color: grey;
}

.more {
  margin: 40px 0;
}

button {
  background: none;
  border: 0.3pt solid rgba(184, 140, 93, 0.7);
  text-transform: uppercase !important;
  font-size: 12px !important;
  letter-spacing: 2px;
  padding: 18px 36px;
}

/*--------------- services section starts  --------------- */

.services {
  background: #161616;
  padding: 0;
  height: 100vh;
}

.service {
  margin: 30px 0;
}

.icon ion-icon {
  font-size: 36px;
  color: #d3ae87;
}

.icon-title {
  font-size: 28px;
  margin-bottom: 4px;
  color: rgb(182, 182, 182);
  font-weight: lighter;
}

/*--------------- our team section starts  --------------- */

.team-member,
.team-img {
  position: relative;
}

.team-img {
  background: grey;
  height: 340px;
}

.members {
  margin: 50px 0;
}

.carousel-container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

#prevButton {
  position: absolute;
  top: 45%;
  width: 3%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  cursor: pointer;
}

#nextButton {
  position: absolute;
  width: 3%;
  top: 45%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  cursor: pointer;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

.carousel-slide img {
  width: 100%;
}

.team-title {
  margin: 20px 0;
}

.team-title h5 {
  font-size: 28px;
}

.team-title span {
  font-size: 20px;
}

.team-member {
  overflow: hidden;
}

.team-one {
  background: url(team-one.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.team-two {
  background: url(team-two.jpg) no-repeat 50% 50%;
  background-size: cover;
}

/*--------------- newsletter section starts  --------------- */

.newsletter {
  padding: 140px 0;
  background: #161616;
}

.newsletter input {
  text-transform: uppercase;
}

.newsletter-title {
  margin-bottom: 10%;
}

.newsletter .news-data {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.newsletter h1 {
  color: #fff;
  margin-bottom: 40px;
}

.newsletter .form-control {
  height: 50px;
  border-color: #fff;
  border-radius: 0 !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: none !important;
}

.statsIcons {
  width: 40%;
  height: 50%;
  margin: auto;
  display: block;
}

::placeholder {
  letter-spacing: 4px;
}

.center-svg {
  display: block;
  margin: auto;
  margin-bottom: 5%;
}

.newsletter .btn {
  min-height: 50px;
  padding: 0 30px;
  border-radius: 0;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Poppins !important;
}

@media (max-width: 768px) {
  .stats-row {
    margin-top: 10%;
  }
}

/*--------------- contact section starts here --------------- */

#contact-form {
  margin: 5% 0;
}

.contact .icon-title {
  margin-top: 10px;
  color: #000;
}

#contact-form ul {
  list-style: none;
  margin-bottom: 40px;
  border-radius: 0;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 22px;
  color: rgb(97, 97, 97);
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #101010;
  font-weight: bolder;
}

input:focus {
  outline: none !important;
  border: none !important;
}

textarea:focus {
  outline: none !important;
  border: none !important;
}

.textarea {
  border-bottom: 1px solid #c9c9c9;
}

@media (max-width: 900px) {
  #contact-form {
    margin: 5% 0;
    width: 98%;
  }
}

/*--------------- footer section starts here --------------- */

.footer {
  background: #4e4d4d;
}

#address,
#maps {
  margin-top: 5%;
  margin-bottom: 5%;
}

.map-footer {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.phone-image {
  width: 100%;
  height: auto;
  padding-left: 0;
}

.text-image-footer {
  color: white;
  padding: 0;
  margin: 0;
  align-self: center;
}

.title-footer {
  color: white;
  font-weight: bold;
  margin-bottom: 5%;
}

.subtitle-footer {
  color: white;
  margin-bottom: 10%;
}

.social-media-icon {
  padding: 0;
}

.social-media-icon > img {
  padding: 0;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .footer .container {
    width: 92% !important;
  }
}

body::-webkit-scrollbar {
  width: 0.75em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.container-services {
  position: relative;
  padding-top: 100px;
  margin: 0;
  color: #fff;
}

.carousel-container-main {
  position: absolute;
  top: calc(100% * 2);
}

.carousel-container-main > div {
  display: flex;
}

.arrow-right-services {
  position: absolute;
  top: calc(100% * 2);
  right: 25px;
  z-index: 10;
  width: 40px;
}

.arrow-left-services {
  position: absolute;
  top: calc(100% * 2);
  left: 25px;
  z-index: 10;
  width: 40px;
}

.carousel-container-main > div > div {
  width: 100vw;
  color: #fff;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
  overflow-x: hidden;
}

.services {
  position: relative;
}

.images-carousel-services {
  position: absolute;
  display: flex;
}

.images-carousel-services > img {
  width: 100vw;
  height: 100vh;
  filter: brightness(40%) blur(5px);
}

.carousel-slide-services > div > h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.carousel-slide-services > div > div > p {
  text-align: left;
  font-size: 20px;
}

.carousel-slide-services > div > div > div {
  display: flex;
  justify-content: center;
}

.carousel-slide-services > div > div > div > p {
  text-align: left;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px;
}

.send-button {
  background: none;
  transition: background 0.5s;
}

.send-button:hover {
  background: rgb(236, 233, 233);
}

@media (max-width: 625px) {
  
  .images-carousel-services > img {
    display: none;
   }

  .arrow-right-services {
    top: calc(100% * 1.95);
    width: 20px;
    right: 5px;
  }

  .arrow-left-services {
    top: calc(100% * 1.95);
    width: 20px;
    left: 5px;
  }

  .carousel-container-main {
    top: calc(100% * 1.2);
  }

  .carousel-container-main > div > div {
    padding: 2%;
  }

  .carousel-slide-services > div > h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .carousel-slide-services > div > div > p {
    text-align: center;
  }
}
